.DS_Store
*.1
*.opensdf
*.sdf
/FavLibrary/build
FavLibrary/FavLibrary.Win/xerces-c-3.1.4/
FavLibrary/FavLibrary.Win/xerces-c-3.1.1-x86_64-windows-vc-10.0/
FavLibrary/FavLibrary.Win/xercesc/
/build
*/*.xcodeproj
*/!*.xcodeproj/project.pbxproj
*/!*.xcworkspace/contents.xcworkspacedata
FavLibrary/FavLibrary.Win/ipch/
*.rej
*.orig
FavLibrary/FavLibrary.Win/packages/

FavLibrary/FavLibrary.Win/FavLibrary.Net/
FavLibrary/FavLibrary.Win/FavLibrary.App/
*.opendb
*.db
/**/.vs
/**/Win32/Debug
/**/Win32/Release
/**/x64/Debug
/**/x64/Release
